{% extends 'base.html' %}

{% block content %}
        
        <div class="container" style="margin-bottom: 10px;">
          <a href="{{ url_for('formCreateDish') }}" class="btn btn-outline-primary">Gericht erstellen</a>
        </div>
        <div class="container">
          <table id="dataTable" class="table table-striped">
              <caption>Liste der Gerichte</caption>
            <thead>
              <tr>
                <th class="col-6">Gericht</th>
                <th class="col">Löschen</th>
              </tr>
            </thead>
            <tbody>
            <!-- {% for dish in dishes %} -->
            <tr>
              <td><a href="{{ url_for("showDish", dish_id=dish.dish_id) }}" class="item-link external">{{dish.name}}</a></td>
              <td><a href="{{ url_for('deleteDish', dish_id=dish.dish_id) }}" data-dish_id="{{dish.dish_id}}" data-toggle="modal" data-target="#deleteModal">Löschen</a></td>
            </tr>
            <!-- {% endfor %} -->
            </tbody>
          </table> 
      </div>
    </div>

    <!-- Dish Delete Confirmation Modal-->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Gericht löschen</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Drücke "Löschen", wenn du dir sicher bist, dass du das Gericht löschen möchtest.</div>
          <div class="modal-footer">
            <form action="{{ url_for('deleteDish')}}" METHOD="POST">
                <input type="text" name="dish_id" id="dish_id" value=""/>
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Abbrechen</button>
              <button class="btn btn-primary" type="submit">Löschen</button>
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}  