<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="theme-color" content="#2196f3">
  <title>Essensplan</title>
  <link rel="stylesheet" href="static/semantic/semantic.min.css">
  <link rel="stylesheet" href="static/css/main.css">
  <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='apple-icon-57x57.png') }}">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='apple-icon-60x60.png') }}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='apple-icon-72x72.png') }}">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='apple-icon-76x76.png') }}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='apple-icon-114x114.png') }}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='apple-icon-120x120.png') }}">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='apple-icon-144x144.png') }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='apple-icon-152x152.png') }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-icon-180x180.png') }}">
  <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='android-icon-192x192.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='favicon-96x96.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
</head>

<body>
    <div class="ui menu top fixed sticky">
        <a class="active item" href="{{ url_for('displayWeek') }}">
          <img class="logo" src="static/favicon-96x96.png">&nbsp;
            Essensplan
        </a>
        <a class="item" href="{{ url_for('listDishes') }}">Gerichte</a>
        <a class="item" href="{{ url_for('formCreateDish') }}">Gericht erstellen</a>
        <a class="item" href="{{ url_for('getTags') }}">Tags</a>
    </div>
    <div class="ui container fluid wide" style="margin-top: 70px; margin-bottom: 10px;">
      <a href="{{ url_for('displayWeek') }}?date={{ lastWeek }}" class="ui huge icon left button"><i class="left arrow icon"></i></a>
      <a href="{{ url_for('displayWeek') }}?date={{ nextWeek }}" class="ui huge icon right button"><i class="right arrow icon"></i></a>
    </div>
    <div class="ui main text container">
      <div class="ui container">
        <h1 class="ui header">{{year}}</h1>  
      </div>
      <div class="ui container"></div>
        <h3 class="ui header">{{ monthNames[month] }}</h3>
    </div>
    <div class="ui main text container">
      <div class="ui segments">
      {% for day in days %}
      {% if days[day].day == "01" %}
      </div>
      <div class="ui main text container">
        <h3 class="ui header">{{ monthNames[month+1] }}</h3>
      </div>
      <div class="ui segments">
      {% endif %}
        {% if days[day].hasDish == False %}
        <div class="ui secondary segment{% if days[day].isToday %} red{% endif %}">
          <form action="{{ linkchooseDish }}">
            <h4 class="ui horizontal divider header{% if days[day].isToday %} red{% endif %}">{{weekdays[day]}}, {{day}}.</h4>
            <h2 class="ui header">Nichts zu essen.</h2>
            <input type="hidden" name="choosen_date" value="{{days[day].date}}">
            <button type="submit" class="ui primary button">Zuweisen</button>
          </form>
        </div>
        {% else %}
        {% for dish in days[day].dish_id %}
        <div class="ui segment{% if days[day].isToday %} red{% endif %}">
          <form action="{{ url_for('removeDish') }}">
            <h4 class="ui horizontal divider header{% if days[day].isToday %} red{% endif %}">{{weekdays[day]}}, {{day}}.</h4>
            <h2 class="ui header">{{ dishes.getDish(dish["dish_id"])[0]['name'] }}</h2>
            <input type="hidden" name="choosen_date" value="{{days[day].date}}">
            <input type="hidden" name="dish_id" value="{{dish['dish_id']}}"> 
            <button type="submit" class="ui basic button">Löschen</button>
          </form>
        </div>
        {% endfor %}{% endif %}

      {% endfor %}
      </div> 
    </div>
    <script type="text/javascript" src="static/js/main.js"></script>
</body>

</html>